:root {
  --primary-purple: #662D91;
  --secondary-purple: #785999;
  --deep-purple: #550096;
  --light-purple: #b554ff;
}

@font-face {
    font-family: 'AwesomeSerif';
    src: url('/path/to/your/font/AwesomeSerif.woff2') format('woff2'),
         url('/path/to/your/font/AwesomeSerif.woff') format('woff');
}

/* Set base font for all elements */
body, html {
    font-family: 'Cera Pro', sans-serif;
}

/* Override specific elements with AwesomeSerif */
h2 {
    font-family: 'AwesomeSerif', serif !important;
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 4px;
    color: var(--primary-purple);
}

h4, h3 {
    color: var(--primary-purple);
}

.font-tall {
    font-family: 'AwesomeSerif';
    font-variant: proportional-width;
}

.font-extra-tall {
    font-family: 'AwesomeSerif';
    font-variant: proportional-width;
    font-stretch: expanded;
}
